[submodule "deps/optimizers"]
	path = deps/optimizers
	url = https://github.com/MicahChambers/cppConvexOptimizers.git
[submodule "deps/mathparse"]
	path = deps/mathparse
	url = https://github.com/MicahChambers/mathparse.git
